# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Documentation
docs/_build/

# Trajectories and temp data
*.dcd
*.pdb
!examples/*.pdb # Keep example pdb if any are added specifically
dummy.pdb
output.pdb

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
ENV/
